.connect__wrapper {
  min-height: 50vh;
  padding: 85px 0 135px;
}

.connect__title {
  padding-bottom: 70px;
}

.connect__form {
  width: 58%;
}

@include desktop {
  .connect__wrapper {
    padding: 50px 0 160px;
  }
}
