.home-section {
  //background: $bg-color-light url("../images/bg/bg-mountain.jpg") no-repeat  center 0;
  //background-size: auto 100%;
  min-height: 170vh;
}

.home-section__wrapper {
  position: relative;
}

@include desktop {
  .home-section {
    background: $bg-color-light url("../images/bg/bg-mountain.jpg") no-repeat  70% 0;
    background-size: auto 100%;
  }
}
