.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh ;
}

.page-header__main-nav {
  display: flex;
}

.page-header__logo-link {
  display: block;
  text-decoration: none;
  font-size: 36px;
  font-weight: 900;
}