.scroll-btn {
  display: flex;
  align-items: center;
  background: transparent;
  color: $text-color;
  font-size: 18px;

  &:hover {
    color: $color-indigo;
  }

  &:active {
    color: rgba($color-indigo, 0.5);
  }
}

.scroll-btn__icon {
  fill: currentColor;
  margin-left: 11px;
}