.section-title {
  font-size: 36px;
  font-weight: 700;

  &--small {
    font-size: 30px;
  }
}

@include tablets {
  .section-title {
    font-size: 30px;
  }
}

@include phones {
  .section-title {
    font-size: 24px;
    line-height: 48px;
  }
}