.social {
  display: flex;
}

.social__item {
  margin-right: 40px;
  display: block;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  width: 27px;
  height: 30px;
  align-items: center;
  color: $text-color;

  &--footer {
    color: white;
  }

  &:hover {
    color: $color-indigo;
  }

  &:active {
    color: rgba($color-indigo, 0.5);
  }
}

.social__icon {
  width: 100%;
  height: auto;
  fill: currentColor;
}
