.social {
  display: flex;
}

.social__item {
  margin-right: 20px;
  display: block;
}

.social__link {
  display: flex;
  width: 27px;
  height: 30px;
  align-items: center;
}

.social__icon {
  width: 100%;
  height: auto;
}
