include ../../mixins.pug
script(type="text/x-template").reviews#reviews-list
  .container.reviews__wrapper(@click='checkButtons' @touchend='checkButtons' )
    h2.reviews__title.section-title Что обо мне говорят
    .reviews__nav.ref-slider__nav
      button.ref-slider__nav-btn.ref-slider__nav-btn--prev(type="button" tabindex=0 @click='previous' :disabled='true' )
        +icon("arrow", "arrow arrow--back", 10, 10)
      button.ref-slider__nav-btn.ref-slider__nav-btn--next(type="button" tabindex=0 @click='next' :disabled='false')
        +icon("arrow", "arrow arrow--forward", 10, 10)

    .reviews__slider.ref-slider
      .ref-slider__content
        flickity(ref="flickity" :options="flickityOptions").reviews__cards.ref-slider__cards
          .reviews__item.review(v-for="review in reviews" :key="review.id")
            .review__text
              p {{ review.text }}
              +icon("quote", "review__icon", 70, 60)
            .review__author
              .review__author-photo
                img(:src="review.photo" :alt="review.reviewer" width="75" height="75").review__author-image
              .review__author-about
                .review__author-name {{ review.reviewer }}
                .review__author-desc {{ review.about }}