include ../mixins.pug

section#connect.connect
  .container.connect__wrapper
    h2.connect__title.section-title Связаться со мной
    form.connect__form.form(method="post" action="#" enctype="multipart/form-data")
      fieldset.form__set.form__set--user-data
        .form__user-data
          .form__user-name
            label(for="user-name").form__label Введите ваше имя
            .form__input-block
              +icon("user", "form__icon form__icon--user", 30, 30)
              input(type="text" name="user-name" placeholder="Введите ваше имя")#user-name.form__input.form__input--user-name
          .form__user-email
            label(for="user-email").form__label Введите ваш email
            .form__input-block
              +icon("envelope", "form__icon form__icon--email", 30, 30)
              input(type="email" name="user-name" placeholder="xenia1898@gmail.com")#user-email.form__input.form__input--user-email
      fieldset.form__set.form__set--message
        label(for="message").form__label Сообщение к письму
        .form__area-block
          +icon("message", "form__icon form__icon--message", 30, 30)
          textarea(name="message" cols=60 rows=2 placeholder="Требуется ваша помощь в создании сайта. Интересует цена и сроки.")#message.form__message
      button(type="submit").form__btn Отправить