include ../mixins.pug

section.hero__paralax.parallax
  .parallax__layer(data-speed="0.1")
    +image("Sky@1x.png", "parallax__image parallax__image--sky", "sky", 1920, 1738)
  .parallax__layer(data-speed="0.12")
    +image("Mountain@1x.png", "parallax__image parallax__image--mountain", "mountain", 1920, 1474)
  .parallax__layer(data-speed="0.20")
    +image("Baloon@1x.png", "parallax__image parallax__image--baloon", "baloon", 203,265)
  .parallax__layer(data-speed="0.30")
    +image("Cloud@1x.png", "parallax__image parallax__image--cloud", "cloud", 1920, 1023)
  .parallax__layer(data-speed="0.35")
    +image("Man@1x.png", "parallax__image parallax__image--man", "man", 1235, 903)
  .parallax__layer(data-speed="0.38")
    +image("Mountain1@1x.png", "parallax__image parallax__image--mountain1", "mountain1", 1343, 866)
  .parallax__layer(data-speed="0.40")
    +image("White@1x.png", "parallax__image parallax__image--white", "white", 2560, 1401)

