include ../mixins.pug

section#skills.skills
  section.triangles.skills__triangles
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="0,0 0,100 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="1000,0 1000,100 0,100")
  .container.skills__wrapper
    h2.skills__title.section-title.section-title--small Чем я могу быть полезна вам
    .skills__description
      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .skills__values#skills-values

    .skills__picture
      picture
        source
        +image("backpack_desktopHd@1x.png", "skills__image", "Photo backpack", 712, 627)

        include ../templates/entry