include ../mixins.pug

section#works.works
  section.triangles.works__triangles
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item--one
      polygon(points="0,0 0,100 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item--one
      polygon(points="1000,0 1000,100 0,100")
  .container.works__wrapper
    h2.works__title.section-title Мои работы
    .works__content
      #slider-component
