include ../mixins.pug

section#works.works
  .container.works__wrapper
    h2.works__title.section-title Мои работы
    .works__container
      .works__left
        .slider.works__slider
          .slider__content
            ul.slaider__images
              -var images = ["1.jpg", "2.jpg", "3.jpg", "4.jpg", "5.jpg"];
                each item in images
                  li.slider__item
                    +image(`${item}`, "slider__image", "", 991, 556)
            ul.slider__previews
              -var previews = ["slide-preview_hd_01@1x.jpg", "slide-preview_hd_02@1x.jpg", "slide-preview_hd_03@1x.jpg", "slide-preview_hd_04@1x.jpg"];
                each item in previews
                  li.slider__preview
                    a(href="#").slider__preview-link
                      +image(`${item}`, "slider__preview-image", "Preview of my work", 178, 100)
          .slider__nav
            .button(tabindex="0").slider__nav-btn.slider__nav-btn--square
              +icon("arrow", "slider__arrow slider__arrow--up", 10, 10)
            .button(tabindex="0").slider__nav-btn.slider__nav-btn--square
              +icon("arrow", "slider__arrow slider__arrow--down", 10, 10)
      .works__right.sleider__about
        ul.works__tags
          -var tags =["HTML", "CSS", "JavaScript"];
            each item in tags
              li.works__tag.tag #{item}
        h3.works__subtitle.slider__title Сайт школы <br> образования
        .works__desc
          p Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! <br>2 месяца только самых тяжелых испытаний и бессонных ночей!
        a(href="https://loftschool.com" target="_blank").slider__link Посмотреть сайт
          +icon("link", "slider__link-icon", 20, 20)
