-var mainMenu = [{text: "Главная", path: "home"}, {text: "Обо мне", path: "about"}, {text: "Навыки", path: "skills"}, {text: "Работы", path: "works"}, {text: "Отзывы", path: "reviews"}, {text: "Связаться", path: "connect"}];
