-var mainMenu = [{text: "Главная", path: "home", status: ""}, {text: "Обо мне", path: "about", status: "main-nav__item--active"}, {text: "Навыки", path: "skills", status: ""}, {text: "Работы", path: "works", status: ""}, {text: "Отзывы", path: "reviews", status: ""}, {text: "Связаться", path: "connect", status: ""}];

-var socialList = [{net: "vk", icon: "vk", path: "https://vk.com/xenia_tkacheva"}, {net: "LinkedIn", icon: "linkedin", path: "https://www.linkedin.com/in/xeniaweb"}, {net: "Github", icon: "github", path: "https://github.com/XeniaTkacheva"}, {net: "Instagram", icon: "insta", path: "https://www.instagram.com/xenia_tkacheva"}];

// -var skillValue = [["Front-end", [["HTML5", "-55s"], ["CSS3", "-85s"], ["JavaScript", "-13s"], ["React & Vue.js", "-25s"]]], ["Workflow", [["Git", "-35s"], ["Terminal", "-13s"], ["Gulp", "-50s"], ["Webpack", "-25s"]]]];

-var reviews = [{reviewer: "Ковальчук Дмитрий", photo: "Dima.png", about: "Основатель Loftschool", text: "Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!"}, {reviewer: "Владимир Сабанцев", photo: "Vova.png", about: "Преподаватель", text: "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах"}]